* {
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: red;
    color: white;
    height: 200px;
}
.notest {
    display: none;
}
@media (max-width: 375px) { 
    .wrapper {
    background-color: blue;
    display: none;
    }

.notest {
    display: block;
}
}